


.main-container
{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;
    
    height: 100%;

    color: white;
    /*background-color: aqua;*/
}

.logo-container
{
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 100%;

    /*margin-bottom: 50px;*/
    
    /*border-style: groove;*/
}

.bottom-container
{
    display: flex;
    flex-direction: row;

    /*align-content: center;*/
    justify-content: space-between;

    height: 650px;
    width: 100vw;

    margin-left: 40px;

    /*background-color: blueviolet;*/
}

.left-container
{
    display: flex;
    flex-direction: column;
    
    /*align-items: flex-start;*/
    justify-content: space-between;

    /*height: 100%;*/
    width: 90%;

    font-size: 25px;

    /*margin-left: 10px;*/
    /*margin-right: 10px;*/

    /*background-color: brown;*/
}

.data-container
{
    display: flex;
    flex-direction: column;

    align-items: start;
    justify-content: center;

    /*background-color: green;*/
}

.button-container
{
    display: grid;
    grid-template-columns: auto auto;  
    
    /*background-color: yellow;*/
}

.button-container a
{
    text-decoration: none;
    color: white;

    margin-right: 20px;
    margin-top: 20px;
}

.img-space
{
    width: 100%;

    background-image: url('../img/customs/1.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


